body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

/* Search Box */

.search-box{
    width:600px;
}

.search-input{
    height:55px;
    border-radius:35px 0 0 35px !important;
    border:1px solid #ddd;
}

.search-btn{
    width:80px;
    border:none;
    background:#ff2d5e;
    border-radius:0 35px 35px 0 !important;
    color:white;
}

/* Icons */

.icon-link{
    text-decoration:none;
    color:black;
    font-size:28px;
    margin-left:25px;
}

.icon-link:hover{
    color:#ff2d5e;
}

/* Menu */

.menu .nav-link{
    color:black !important;
    font-weight:600;
    margin:0 15px;
    font-size:15px;
}

.menu .nav-link:hover{
    color:#ff2d5e !important;
}